#cube{
    position: relative;
    z-index: 40;
    margin-left:300px;
}

#cube1{
    position: relative;
    z-index: 40;
    margin-left:-6px;
}

#cube2{
    position: relative;
    z-index: 30;
    margin-left:-256px;
    padding-bottom: 50px;
}

#cube3{
    position: relative;
    z-index: 20;
    margin-top:-150px;
    margin-left:300px;
}

#cube4{
    position: relative;
    z-index: 20;
    margin-top:-150px;
    margin-left:-6px;
}

#cube5{
    position: relative;
    z-index: 10;
    margin-top:-150px;
    margin-left:-256px;
    padding-bottom: 50px;
}

#cube6{
    position: relative;
    z-index: 10;
    margin-top:-150px;
    margin-left:300px;
}

#cube7{
    position: relative;
    z-index: 10;
    margin-top:-150px;
    margin-left:-6px;
}

#cube8{
    position: relative;
    z-index: 0;
    margin-top:-150px;
    margin-left:-256px;
    padding-bottom: 50px;
}



/*.lightGrey{
    position: relative;
    z-index: 10;
    margin-top:-100px;
    margin-left:300px;
}*/

.grey-active .black,.grey-active .lightGrey{
  opacity: 0.3;
}

.black-active .grey,.black-active .lightGrey{
  opacity: 0.3;
}

.light-grey-active .black,.light-grey-active .grey{
  opacity: 0.3;
}

/*.notActive{
    opacity:0.3;
}*/


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 50;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    position:relative;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    z-index:50;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}