html, body, h1, h2, h3, h4, p, div, ul,li,a {
    padding:0;
    border:0;
    margin:0;
    list-style-type: none;
    font:inherit;
    font-size: 100%;
    font-family: Avenir, Helvetica, sans-serif;
}
/*Change background color of the page to a cream color*/
 html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: #E7DADA;
}

/*_______________________________________Entry Page___________________________________________*/


.entry{
    background-color: #E7DADA;
    overflow:hidden;
    position: relative;
}

/*align the landing page image*/
.outlines{
    z-index: 0;
    width:110%;
    margin-left: -50px;
    height:100%;
    overflow: hidden;
}

/*_______________________________________Secret Annex Page___________________________________________*/

/*layer the roof as the topmost layer and align it*/
#cube{
    position: relative;
    z-index: 1000;
    margin-left:-15px;
    margin-top:30px;
}

/*first floor-layer VanPel's room under the roof and align it*/
#cube3{
    position: relative;
    z-index: 500;
    margin-top:-290px;
    margin-left:132px;
}

/*first floor-layer Peter's room under the roof and align it*/
#cube4{
    position: relative;
    z-index: 500;
    margin-top:-255px;
    margin-left:3px;
}

/*second floor-layer the bathroom under the first floor and align it*/
#cube5{
    position: relative;
    z-index: 250;
    margin-top:-166px;
    margin-left:-397px;
    padding-bottom: 0px;
}

/*second floor-layer the bathroom under the first floor and align it*/
#cube6{
    position: relative;
    z-index: 250;
    margin-top:-236px;
    margin-left: 0px;
}

/*second floor-layer Anne's under the first floor and align it*/
#cube7{
    position: relative;
    z-index: 200;
    margin-top:-319px;
    margin-left:-106px;
    padding-bottom: 39px;
}

/*second floor-layer Anne's under the first floor and align it*/
#cube8{
    position: relative;
    z-index: 10;
    margin-top:-315px;
    margin-left:-350px;
    padding-bottom: 106px;
}

/*Display the floors inline*/
.black,.grey,.lightGrey{
  display: inline-block;
  width: 100%;
}

/*make the div which has all the other elements*/
.all{
  width: 507px;
  margin: auto auto;
}

/*align anne's room*/
#anne{
  position: absolute;
  top:-387px;
  left:378px;
}

/*align Peter's room*/
#peter{
  position: absolute;
  top:-136px;
  left:-405px;
}

/*align VanPel's room*/
#vanpels{
  position: absolute;
  top:-174px;
  left:375px;
}

/*align Frank's room*/
#franks{
  position: absolute;
  top:-490px;
}


/*align the entrance*/
#entrance{
  position: absolute;
  top:-163px;
  left:-410px;
}

/*align the bathroom*/
#bathroom{
  position: absolute;
  top:-340px;
  left:-280px;
}

/*Change opacity of the thank you note on hover*/
#thanks:hover{
  opacity:0.8;
}

/*Align the Thank you note*/
#thanks{
    padding-top: 60px;
    font-family: Avenir;
    font-size: 10px;
    width:30%;
    margin:auto;
    text-align: center;
    color:#80647E;
    opacity:0.3;
    padding-bottom: 30px;
}

/*Align the instruction for the roof*/
#roofinstruction{
    padding-top: 30px;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 600;
    width:30%;
    margin:auto;
    text-align: center;
    color:#80647E;
    opacity:0.3;
}

/*class for "active" rooms ( rooms selected on hover)*/
.active{
    opacity:1.0;
}
/*class for "notActive" rooms ( all the other rooms except the selected one)*/
.notActive{
    opacity:0.2;
}


/*Fade in the house when the page loads*/
.all {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
}
/*Add keyframes from 0 to 1*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*_______________________________________Modals___________________________________________*/

/*Align the modal and add fadein */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1800; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    z-index: 1500;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}
/*Add keyframes from 0 to 1*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Align and format the text within the modal */
.modal-content {
    text-align: center;
    background: #040203;
    border: 4px solid #8DDBFF;
    border-radius: 5px;
    position:relative;
    margin: auto;
    padding: 20px;
    width: 280px;
    z-index:2000;
}


/* Align and format the modal picture */
.modalPicture{
    display:block;
    width:100px;
    margin-top:-75px;
    margin-right: auto;
    margin-left:auto;
}

/*Format font size for modal heading*/
.modalHeading {
    font-family: AvenirNext-Bold;
    font-size: 16px;
    color: #83D1FF;
}

/*Format font size for modal body*/
.modalText{
    font-family: AvenirNext-Medium;
    font-size: 10px;
    color: #83D1FF;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/*format close button on hover*/
.close:hover,
.close:focus {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

/*Change alignment of objects for tablet view*/
@media screen and (max-width: 767px) {

  .outlines{
    width:140%;
    z-index:0;
    margin-left:-290px;
  }

  .modalPicture{
    width: 100px;
  }

   #entrance{
    position: absolute;
    top:-423px!important;
    left:0px!important;
  }

  #bathroom{
    position: absolute;
    top:-379px!important;
    left:0px!important;
  }

  #anne{
    position: absolute;
    top:-427px!important;
    left:0px!important;
  }

  #franks{
    position: absolute;
    top:-397px!important;
    left:0px!important;
  }

  #peter{
    position: absolute;
    top:-386px!important;
    left:0px!important;
  }

  #vanpels{
    top:-474px!important;
    left:0px!important;
  }
}

/*Change alignment of objects for mobile view*/
@media screen and (max-width: 480px) {

/*make the text size slightly larger in the mobile view*/
  .modalText{
    font-family: AvenirNext-Medium;
    font-size: 12px;
    color: #83D1FF;

}
  .outlines{
    z-index:0;
    margin-left: -305px;
    margin-top: 175px;
    width:200%;
  }

  .all-wrapper{
    height:auto;
  }

  .all{
    width: 320px;
    height:auto;
  }
  #cube{
    width:106%;
    margin-left: -15px;
  }
  .all img{
    width: 100%;
    height: auto;
  }
  .modalPicture{
    width: 100px!important;
  }
  #cube3{
    margin-left: 80px;
    margin-top: -198px;
    width: 74%;
  }
  #cube4{
    width: 64%;
    margin-left: -7px;
    margin-top: -178px;
  }

  #cube5{
    width: 46%;
    margin-top: -209px;
    margin-left: 6px;
    padding-bottom: 183px;
  }

  #cube6{
    position: relative;
    z-index: 250;
    width: 58.4%;
    margin-top:-135px;
    margin-left:7px;
  }
  #cube7{
    width: 65%;
    margin-top: -230px;
    margin-left: 107px;
    padding-bottom: 38px;
  }
  #cube8{
    width: 51%;
    margin-top: -282px;
    margin-left: 93px;
    padding-bottom: 122px;
  }


  #entrance{
    position: absolute;
    top:-423px!important;
    left:0px!important;
  }

  #bathroom{
    position: absolute;
    top:-379px!important;
    left:0px!important;
  }

  #anne{
    position: absolute;
    top:-427px!important;
    left:0px!important;
  }

  #franks{
    position: absolute;
    top:-397px!important;
    left:0px!important;
  }

  #peter{
    position: absolute;
    top:-386px!important;
    left:0px!important;
  }

}




