html, body, h1, h2, h3, h4, p, div, ul,li,a {
    padding:0;
    border:0;
    margin:0;
    list-style-type: none;
    font:inherit;
    font-size: 100%;
    font-family: Avenir, Helvetica, sans-serif;

}

 html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                background-color: #E7DADA;
                overflow:auto;
            }
/*____________________________________________________________________________________________*/

#cube{
    position: relative;
    z-index: 1000;
    margin-left:-15px;
}

.grey .expanded .zoomTarget{
    height:400px;
}

#cube3{
/*    width:90%;*/
    position: relative;
    z-index: 500;
    margin-top:-290px;
    margin-left:132px;
}

#cube3 .expanded{
/*    width:90%;*/
    position: relative;
    z-index: 500;
    margin-top:-290px;
    margin-left:132px;
}

#cube4{
/*    width:72.5%;*/
    position: relative;
    z-index: 500;
    margin-top:-255px;
    margin-left:3px;
}

#cube4 .expanded{
/*    width:72.5%;*/
    position: relative;
    z-index: 500;
    margin-top:-255px;
    margin-left:3px;
}

#cube5{
    position: relative;
    z-index: 250;
    margin-top:-166px;
    margin-left:-397px;
    padding-bottom: 0px;
}

#cube6{
    position: relative;
    z-index: 250;
    margin-top:-236px;
    margin-left: 0px;
}

#cube7{
    position: relative;
    z-index: 200;
    margin-top:-319px;
    margin-left:-106px;
    padding-bottom: 39px;
}

#cube8{
    position: relative;
    z-index: 10;
    margin-top:-315px;
    margin-left:-350px;
    padding-bottom: 106px;
}

.black,.grey,.lightGrey{
  display: inline-block;
  width: 100%;
}

.all{
  width: 507px;
  margin: auto auto;
}


/*.grey-active .black,.grey-active .lightGrey{
  opacity: 0.3;
}

.black-active .grey,.black-active .lightGrey{
  opacity: 0.3;
}

.light-grey-active .black,.light-grey-active .grey{
  opacity: 0.3;
}*/


.active{
    opacity:1.0;
}


.notActive{
    opacity:0.2;
}

.zoomModal{
    position: absolute;
    width:0px;
    z-index:60;
}

.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1800; /* Sit on top */
    left: 0;
    top: 0;
    width: 380px; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto;*//*Enable scroll if needed */
    z-index: 1500;
}

/* Modal Content */
.modal-content {
    text-align: center;
    background: #040203;
    border: 4px solid #8DDBFF;
    border-radius: 5px;
    position:relative;
    margin: auto;
    padding: 20px;
    width: 280px;
    z-index:2000;
}

.modal-content span{
    color: #83D1FF;
    margin-top: -16px;
}

.modalPicture{
    display:block;
    width:100px;
    margin-top:-75px;
    margin-right: auto;
    margin-left:auto;
}

.modalHeading {
    font-family: AvenirNext-Bold;
    font-size: 16px;
    color: #83D1FF;
}

.modalText{
    font-family: AvenirNext-Medium;
    font-size: 10px;
    color: #83D1FF;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
  .modalPicture{
    width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .all{
    width: 320px;
  }
  #cube{
    width:106%;
    margin-left: -15px;
  }
  .all img{
    width: 100%;
    height: auto;
  }
  .modalPicture{
    width: 100px!important;
  }
  #cube3{
    margin-left: 80px;
    margin-top: -198px;
    width: 74%;
  }
  #cube4{
    width: 64%;
    margin-left: -7px;
    margin-top: -178px;
  }

  #cube5{
    width: 46%;
    margin-top: -209px;
    margin-left: 6px;
    padding-bottom: 183px;
  }

  #cube6{
    position: relative;
    z-index: 250;
    width: 58.4%;
    margin-top:-135px;
    margin-left:7px;
  }
  #cube7{
    width: 65%;
    margin-top: -230px;
    margin-left: 107px;
    padding-bottom: 38px;
  }
  #cube8{
    width: 51%;
    margin-top: -282px;
    margin-left: 93px;
    padding-bottom: 122px;
  }
}


